[Unit]
Description=Webserver for receiving shade control commands.
After=bluetooth.target network.target network-online.target

[Service]
ExecStart=/home/debian/soma-shade-control/soma-http.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=soma-http.js

[Install]
WantedBy=multi-user.target
